body {
    padding: 0;
    margin: 0;
}

html,
body {
    overscroll-behavior-y: none;
}

.CodeMirror {
    font-size: 14px;
}

.CodeMirror-simplescroll-horizontal {
    height: 14px;
}

.CodeMirror-simplescroll-vertical {
    width: 14px;
}

.cm-s-base16-light .CodeMirror-linenumber {
    color: #777;
}

.CodeMirror-Selected-Mark {
    border: 1px solid #FF0000;
}