@font-face {
    font-family: 'MesloLGS NF';
    src: url('font://webssh/MesloLGS-NF-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MesloLGS NF';
    src: url('font://webssh/MesloLGS-NF-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MesloLGS NF';
    src: url('font://webssh/MesloLGS-NF-Bold-Italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MesloLGS NF';
    src: url('font://webssh/MesloLGS-NF-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
