{% extends "base.html" %}

{% block extrahead %}
    <meta name="apple-itunes-app" content="app-id=497714887, affiliate-data=www_webssh_net" />
    <meta name="ahrefs-site-verification" content="18384b51317985f3df4047135c63447036bab36c3df363e66140b59cb9fd58e8" />
{% endblock %}

{% block disqus %}
    <div id="hyvor-talk-view"></div>
    <script type="text/javascript">
        var HYVOR_TALK_WEBSITE = 6135;
        var HYVOR_TALK_CONFIG = {
            url: false,
            id: false
        };
    </script>
    <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed.js"></script>
{% endblock %}